.code-url ul li {
    position: relative;
    margin-top: 2.5rem;
    padding: 1rem;
    border: 1px solid #dadada;
    background-color: #f7f7f7;
    font-size: 14px;
    color: #555;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 0;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

li{
    margin:0;
    padding:0;
    list-style-type:none
}